<div class="clr-row">
    <div class="clr-col-lg-9">
        <div class="card">
            <div class="card-header">
                <span>Graph</span>
            </div>
            <div class="card-block">
                <app-line-chart *ngIf="!loading"></app-line-chart>
                <span *ngIf="loading" class="spinner spinner-lg">
                        Loading...
                </span>
            </div>
            <div class="card-footer">
                <clr-button-group class="btn-primary">
                    <clr-button (click)="loadTest()">Live</clr-button>
                    <clr-button>Range</clr-button>
                    <!-- <clr-button [clrInMenu]="true">Assign</clr-button>
                    <clr-button [clrInMenu]="true">Download</clr-button>
                    <clr-button [clrInMenu]="true">Delete</clr-button> -->
                </clr-button-group>
            </div>
        </div>
    </div>

    <div class="clr-col-lg-3">
        <div class="card">
            <div class="card-header">
                <span>Data selector</span>
            </div>
            <div class="card-block">
                <form clrForm [formGroup]="dateForm" novalidate>
                    <h4>Starting Date</h4>
                    <clr-date-container>
                        <label for="startDateControl">Date</label>
                        <input id="startDateControl" type="date" clrDate formControlName="startDate" />
                    </clr-date-container>
                </form>
                <form clrForm [formGroup]="dateForm" novalidate>
                    <h4>End Date</h4>
                    <clr-date-container>
                        <label for="endDateControl">Date</label>
                        <input id="endDateControl" type="date" clrDate formControlName="endDate" />
                    </clr-date-container>
                </form>
            </div>
        </div>
    </div>
</div>