<clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column>Creation Date</clr-dg-column>
    <clr-dg-column>Value</clr-dg-column>

    <clr-dg-row *clrDgItems="let m of measurements | reverse">
        <clr-dg-cell>{{m.id}}</clr-dg-cell>
        <clr-dg-cell>{{m.createdAt | date:'medium'}}</clr-dg-cell>
        <clr-dg-cell>{{m.value}}</clr-dg-cell>
    </clr-dg-row>

    <!-- <clr-dg-footer>{{measurements.length}} measurements</clr-dg-footer> -->
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="20">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Measurements per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} measurements
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
